 .Header{
    width:100%;
    background: url(//bizweb.dktcdn.net/100/438/408/themes/946371/assets/background-header.png?1713584770091);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.05);
    padding-bottom: 5px;
}

.Inner{
    margin-left: 10%;
    margin-right: 10%;
}

.Header1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.Header1 .Find{
    align-items: center;
}

.Header1 img{
    width: 20%;
    height: 100%;
    margin: 0 8px;
} 

.Search{
    display: flex;
    position: relative;
    width: 100%;
    height: 70%;
}

.Header1 .Search input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
}

.Header1 .Search button{
   background-color: #FCAF17;
   border: none;
}

.findSearch{
    position: absolute;
    white-space: nowrap;
    width: 15%;
    height: 100%;
    right: 0;
    top: 0px;
    overflow: hidden;
    border-radius: 0px 8px 8px 0px;
}

.Header1 .Search input:hover{
    border-color: #FCAF17;
}

.Info{
    margin: 10px;
    align-items: center;
}

.Info a{
    padding-left: 5px;
    text-decoration: none;
    color: #11006F;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.Info span{
    margin: 0 8px;
    color: #11006F;
    font-weight: 600;
    font-size: 14px;
}

.Header2{
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 50px;
}

.TypeHeader .menu {
    padding: 0px;
    display: flex;
    height: 100%;
    align-items: center;
}

.TypeHeader ul li{
    list-style: none;
    display: block;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    line-height: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #11006F;
}

.TypeHeader .menu li:hover{
    color: #FCAF17;
}

.TypeHeader .menu li:hover .sub_menu{
    display: flex !important;
    height: auto;
    z-index: 100;
}

.TypeHeader ul li:first-child{
    padding-left: 0px !important;
}

.TypeHeader ul li{
    padding: 0px 8px;
}

.InfoUser a{
    padding-right: 5px;
    padding-left: 5px;
    color: #11006F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}  

.InfoUser{
    display: flex;
    align-items: center;
}

.icon{
    font-size: 30px;
    margin-bottom: 10px;
    width: 35px;
}
 
.sub_menu{
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 100%;
    left: 0;
    height: auto;
    display: none !important;
} 

.sub-menu_user{
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 100%;
    left: 0;
    height: auto;
    display: none !important;
    flex-direction: column;
}

.TypeHeader .menu li:hover .sub-menu_user{
    display: flex !important;
    height: auto;
    z-index: 100;
}

.menu .sub_menu .ImageNam img{
    margin: 20px 9px;
    width: 100%;
    border-radius: 5%;
}

.info-user_cart{
    display: flex;
    align-items: center;
}

.sub2_menu li{
    margin-left: -20%;
}

.No-account{
    align-items: center;
}

.Account{
    position: relative;
    width: 200%;
}

.menu-account{
    position: absolute;
    top:92%;
    left: 100%;
    padding: 10px;
    z-index: 100000;
    background-color: #fff;
}

.menu-account li{
    margin: 10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.Account .name-user{
    color: #FCAF17;
    border-bottom: 1px solid rgb(180, 176, 176);
    margin-bottom: 10px;
}

.Account .logout{
    padding-top: 10px;
    border-top: 1px solid  rgb(180, 176, 176);
}

.Account ul{
    padding: 10px;
    left: -50%;
}

.Account ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #333;
}