.main-container{
    grid-area: main;
    overflow-y: auto;
    padding: 10px 10px;
    color: black;
}
.main-title{
    display: flex;
    justify-content: space-between;
}
.main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
}
.card:first-child{
    background-color: #2962ff;
}
.card:nth-child(2){
    background-color: #ff6d00;
}
.card:nth-child(3){
    background-color: #2d7e32;
}
.card:nth-child(4){
    background-color: #d50000;
}
.card-inner{
    display: flex;
    justify-content: space-between;
    height: 5rem;
}
.card-inner > .card-icon{
    font-size: 25px;
    margin-top: 10px;
}
.charts{
    display: grid;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
}
